<div id="home" class="rn-slider-area">
  <div class="slide slider-style-1">
    <div class="container">
      <div class="row row--30 align-items-center">
        <div class="order-2 order-lg-1 col-lg-7 mt_md--50 mt_sm--50 mt_lg--30">
          <div class="content">
            <div class="inner">
              <h1 class="title">Hi, I’m <span>Albunus</span><br>
                <span class="header-caption" id="page-top">
                  <!-- type headline start-->
                  <span class="cd-headline clip is-full-width">
                    <!-- <span>a    </span> -->
                    <!-- ROTATING TEXT -->
                    <span class="cd-words-wrapper">
                      <b class="is-visible"> Fullstack Developer.</b>
                      <b class="is-hidden"> UI&UX Designer.</b>
                      <b class="is-hidden"> Professional Coder.</b>
                    </span>
                  </span>
                  <!-- type headline end -->
                </span>
              </h1>

              <div>
                <p class="description">
                  Experienced Full Stack Developer with a demonstrated history of working in the internet industry.
                  Building Web applications with Angular, Python, Django, Flask, MySQL/Postgres and some other cool libraries and frameworks.
                </p>
                <a class="btn btn-outline-danger p-3 button-main mr-5" href="" target="_blank">View Resume</a>
                <a class="btn btn-outline-danger p-3 button-main" href="#contacts">Contact Me</a>
                <div class="social-share-inner-left mt-5">
                  <ul class="social-share d-flex liststyle">
                    <li class="facebook">
                      <a href="https://github.com/albunus" target="_blank"><i class="fa fa-github"></i>
                      </a>
                    </li>
                    <li class="linkedin"><a href="malto:alybtush3@gmail.com"><i class="fa fa-google"></i></a>
                    </li>
                    <li class="linkedin"><a target="_blank" href="https://twitter.com/albanus50469101"><i class="fa fa-twitter"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="order-1 order-lg-2 col-lg-5 my-profile">
          <div class="thumbnail">
            <div class="inner">
              <img src="../../../assets/images/me.jpg" alt="My Profile Picture">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
