<div class="section-separator" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2 class="title">Projects</h2>
        </div>
      </div>
    </div>

    <div class="row row--25 mt--10 mt_md--10 mt_sm--10">

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectOne">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/image.png" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Instagram Shops</a>
                </div>
              </div>
              <h4 class="title"><a href="javascript:void(0)" class="text-capitalize">
                  Platform Where You Discover New Instagram Shops.
                </a></h4>
            </div>
          </div>
        </div>
      </div>
