<div class="rn-resume-area rn-section-gap section-separator" id="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <span class="subtitle">1+ Years of Experience</span>
          <h2 class="title">Skills & Experiences</h2>
        </div>
      </div>
    </div>
    <div class="row mt--45">
      <div class="col-lg-12">
        <ul class="rn-nav-list nav nav-tabs" id="myTabs" role="tablist">
          <li class="nav-item ">
            <a class="nav-link active" id="professional-tab" data-toggle="tab" href="#professional" role="tab"
              aria-controls="professional" aria-selected="false">professional
              Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab"
              aria-controls="experience" aria-selected="false">experience</a>
          </li>
        </ul>
        <!-- Start Tab Content Wrapper  -->
        <div class="rn-nav-content tab-content" id="myTabContents">
          <!-- Start Single Tab  -->
          <div class="tab-pane  show active fade " id="professional" role="tabpanel" aria-labelledby="professional-tab">
            <div class="personal-experience-inner mt--40">
              <div class="row row--40">

                <!-- Start Single Progressbar  -->
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="progress-wrapper">
                    <div class="content">
                      <h4 class="maintitle">Design Skill</h4>
                      <div class="progress-charts">
                        <h6 class="heading heading-h6">FIGMA</h6>
                        <div class="progress">
                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s"
                            role="progressbar" style="width: 95%" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100"><span class="percent-label">95%</span></div>
                        </div>
                      </div>
                      <div class="progress-charts">
                        <h6 class="heading heading-h6">DESIGN</h6>
                        <div class="progress">
                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay=".7s"
                            role="progressbar" style="width: 90%" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100"><span class="percent-label">90%</span></div>
                        </div>
                      </div>
                      <div class="progress-charts">
                        <h6 class="heading heading-h6">PHOTOSHOP</h6>
                        <div class="progress">
                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s"
                            role="progressbar" style="width: 60%" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100"><span class="percent-label">60%</span></div>
                        </div>
                      </div>
                      <div class="progress-charts">
                        <h6 class="heading heading-h6">ADOBE ILLUSTRATOR</h6>
                        <div class="progress">
                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s"
                            role="progressbar" style="width: 60%" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100"><span class="percent-label">60%</span></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12 mt_sm--60">
                  <div class="progress-wrapper">
                    <div class="content">
                      <h4 class="maintitle">Development Skill</h4>
                      <div class="progress-charts">
                        <h6 class="heading heading-h6 text-uppercase">Frontend</h6>
                        <div class="progress">
                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s"
                            role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100"><span class="percent-label">90%</span></div>
                        </div>
                      </div>
                      <div class="progress-charts">
                        <h6 class="heading heading-h6">Backend</h6>
                        <div class="progress">
                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s"
                            role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
                            aria-valuemax="100"><span class="percent-label">95%</span></div>
                        </div>
                      </div>
                      <div class="progress-charts">
                        <h6 class="heading heading-h6">DJANGO(PYTHON)</h6>
                        <div class="progress">
                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s"
                            role="progressbar" style="width: 83%" aria-valuenow="83" aria-valuemin="0"
                            aria-valuemax="100"><span class="percent-label">83%</span></div>
                        </div>
                      </div>
                      <div class="progress-charts">
                        <h6 class="heading heading-h6">FLASK(PYTHON)</h6>
                        <div class="progress">
                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s"
                            role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100"><span class="percent-label">75%</span></div>
                        </div>
                      </div>
                      <div class="progress-charts">
                        <h6 class="heading heading-h6">LARAVEL(PHP)</h6>
                        <div class="progress">
                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s"
                            role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100"><span class="percent-label">80%</span></div>
                        </div>
                      </div>
                      <div class="progress-charts">
                        <h6 class="heading heading-h6">ANGULAR</h6>
                        <div class="progress">
                          <div class="progress-bar wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay=".7s"
                            role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100"><span class="percent-label">80%</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">
            <div class="personal-experience-inner mt--40">
              <div class="row">
                <!-- Start Skill List Area  -->
                <div class="col-lg-6 col-md-12 col-12">
                  <div class="content">
                    <div class="experience-list">

                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Baraton University</h4>
                              <span>Student (2015-2020)</span>
                            </div>
                          </div>
                          <p class="description">
                            <i class="fa fa-check"></i> Attending classes and meeting the requirements in the university. <br>
                            <i class="fa fa-check"></i> Installing wifis. <br>
                            <i class="fa fa-check"></i> Training/ guiding attachees. <br>
                            <i class="fa fa-check"></i> Ensuring cross-platform optimization for mobile phones. <br>
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Softcall communication ltd Kenya</h4>
                              <span>Installing a systen in Iten County Referal Hospital(ICRH) (Jan 2020 - April 2020)</span>
                            </div>
                          </div>
                          <p class="description">
                            <i class="fa fa-check"></i> Developing and maintaining Company websites and systems. <br>
                            <i class="fa fa-check"></i> Showcasing on how touse the system e.g clinicians. <br>
                            <i class="fa fa-check"></i> Computer Maintenance. <br>
                            <i class="fa fa-check"></i> Maintenance of Wifi Network within the company.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                    </div>
                  </div>
                </div>

                                      <!-- Start Single List  -->
                                      <div class="resume-single-list">
                                        <div class="inner">
                                          <div class="heading">
                                            <div class="title">
                                              <h4> Moringa School</h4>
                                              <span>Fullstack Developer Training (july 2021 - feb 2022)</span>
                                            </div>
                                          </div>
                                          <p class="description">
                                            <i class="fa fa-check"></i> Designing using Figma. <br>
                                            <i class="fa fa-check"></i> Developing web Apllications. <br>
                                            <i class="fa fa-check"></i> Knowledge advancement on programming languages e.g javascript,python,angular,html,css etc. <br>
                                          </p>
                                        </div>
                                      </div>
                                      <!-- End Single List  -->
                                    </div>
                                  </div>
                                </div>
                                <!-- End Skill List Area  -->
                <!-- End Skill List Area  -->
              </div>
            </div>
          </div>
        </div>
      </div>



