<!-- Start about Area -->
<div id="about" class="about-me">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true" class="image-area">
          <div class="thumbnail">
            <img src="../../../assets/images/about.svg" alt="">
          </div>
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true"
        class="col-lg-7 mt_sm--30">
        <div class="contant">
          <div class="section-title text-left">
            <h4 class="title">Who I Am?</h4>
          </div>

          <p class="description">
            I am a Full Stack Developer based in Kenya, with a passion for creating beautiful and intuitive user
            experiences.
          </p>
          <p class="description">
            I have a strong background in both front-end and back-end development. I am a self-motivated,
            hard-working and dedicated individual. Also team player, and always looking to learn new skills and
            techniques.
          </p>
          <p class="description">
            <i class="fa fa-check"></i>
            I do integration of third party services such as
            Mailchimp and also have experience in building RESTful APIs.
          </p>

          <a class="rn-btn" href="#contacts"><span>Hire Me</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End about Area -->
